<div class="card">
  <img src="assets/profile.jpg" class="card-img-top" alt="Profile picture of sam">
  <div class="card-body">
    <h5 class="card-title">Sam Merante</h5>
    <h6 class="card-subtitle mb-2 text-muted">Software Developer</h6>
    <p class="card-text">
      I am a York University graduate with a bachelors degree in Computer Science from the Lassonde School of
      Engineering. I have several years of programming
      experience in languages such as Java, AngularJS/2+, C++, Python, C#, C, among other languages.
    </p>
    <p class="card-text">
      Please visit my
      <a routerLink="/cv" routerLinkActive="active" class="sam-navbar--link">CV</a> for a full detail of my experience.
    </p>
  </div>
</div>