h1, h2
{
	text-align: center;
	color: rgb(225, 225, 225);
	font-family: Verdana, Geneva, sans-serif;
}
body
{
	 background-color: rgb(67,67,67);
}
hr
{
	border-color: rgb(255, 225, 225);
	height: 10px;
	color:rgb(255, 90, 90);
	border-style: outset;
}                        
table#navBar
{
	width: 100%;
	border: none;
	font-size: 16px;
	position: relative;
	top: -10px;
}
table#MainTable
{
	color: rgb(225,225,225);
	border: 10px inset rgb(225,225,225);
	font-size: 20px;
	width: 100%;
}
table#MainTable tr
{
	border: 2px inset rgb(225,225,225);
}
table#MainTable th#Exe
{
	border: 2px inset rgb(225,225,225);
	background-color: rgb(255,90,90);
}
table#MainTable th
{
	border: 2px inset rgb(225,225,225);
}
table#MainTable th#src
{
	border: 2px inset rgb(225,225,225);
	background-color: rgb(60,170,90);
}
table#MainTable td
{
	border: 2px inset rgb(225,225,225);
}
td:hover
{
	background-color:rgb(47,47,47);
}
a:link
{
	color:rgb(225, 225, 225);
	text-decoration: none;
	
}
a:visited
{
	color:rgb(172, 172, 172);
	text-decoration: none;
}
a:hover
{
	color:rgb(140, 140, 140);
	text-decoration: none;
}