@import '../../../styles.scss';

.sam-radio-btn{
  display: inline-block;
  padding: 0 16px 16px 0;
  @media screen and ( max-width: 425px){ 
    display: block;
  }
}

.sam-radio-group{
  display: block;
  width: 100%;
}

.sam-radio-container{
  cursor: pointer;
  position: relative;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
  input{
    position: absolute;
    opacity: 0;
    display: inline;
  }
  .sam-radio-label{
    @include base-font();
    display: inline;
    margin-left: 40px;
    cursor: pointer;
    display: inline-block;
  }
}

.sam-group-label{
  display: block;
  padding-bottom: 8px;
  @include base-font();
  line-height: 1.5;
  font-weight: 500;
}

.radio-btn {
  position: absolute;
  display: inline-block;
  width: 32px;
  height: 32px;
  top: calc(50%  - 16px);
  border: 1px solid #929191;
  border-radius: 50px;
  vertical-align: middle;
  transition: all ease-in-out 0.25s;
  &:before{
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    background: #027fe6;
    border-radius: 50px;
    top: calc(50%);
    left: calc(50%);
    transition: all ease-in-out 0.25s;
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    background: #027fe6;
    border-radius: 50px;
    top: calc(50%);
    left: calc(50%);
    transition: all ease-in-out 0.25s;
  }
}
.radio-btn[checked="true"]{
  border: 2px solid #027fe6;
  &:before{
    width: 12px;
    height: 12px;
    border: 2px solid #027fe6;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
  }
  &:before{
    width: 14px;
    height: 14px;
    border: 1px solid #929191;
    top: calc(50% - 7px);
    left: calc(50% - 7px);
  }
}
.sam-radio-btn-disabled{
  cursor: not-allowed;
  .sam-radio-container{
    cursor: not-allowed;
  }
  .sam-radio-label{
    color: #929191;
  }
  .radio-btn {
    background: #9291917e;
    cursor: not-allowed;
  }
}