<form class="container" [formGroup]="messageForm" (submit)="submitMessage();">
  <div class="row">
    <div class="col-sm-12">
      <sam-input-wrapper field_id="messagePost" label="Message">
        <textarea 
          sam-input id="messagePost" 
          aria-label="Enter a message to post in the forum"
          [formControl]="messageForm.get('message')"></textarea>
      </sam-input-wrapper>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <button sam-cta type="submit">Post</button>
    </div>
  </div>
</form>