@import "./app/styles/variables.scss";
@import "./app/styles/mixins.scss";

.sam-merante-body { 
  min-width: auto !important;
}
label > * {
  display: block;
  pointer-events: none;
}

.body {
  min-height: 100vh;
}

body,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-color;
  font-weight: 500;
}
a[href][target="_blank"] {
  color: #007bff;
}
a {
  position: relative;
} 
a:after {
  transition: width 0.5s ease;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;

  position: absolute;
  display: block;
  content: "";
  width: 0px;
  height: 2px;
  top: calc(100% + 2px);
  left: 0px;
  background-color: $main-color-dark;
}
a:focus {
  position: relative;
  outline: none;
  &:after {
    width: 100%;
  }
}

.sam-title {
  @include base-font();
  color: $text-color;
  font-size: 2rem;
  text-align: center;
}

@mixin pseudo-border {
  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    bottom: 0px;
    left: 50%;
    border-bottom: 2px solid $main-color;
    border-top: 2px solid $main-color;
    border-radius: 0;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
  }
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 50%;
    left: 0px;
    border-left: 2px solid $main-color;
    border-right: 2px solid $main-color;
    border-radius: 0;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
  }
}

.col-sm-6 {
  padding: 8px;
}
.card-link {
  @media screen and (max-width: 575px) {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0;
  }
}
.date {
  @media screen and (max-width: 575px) {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0;
  }
}
