@import "../../styles.scss";

.stocks {
  position: relative;
  display: table;
  width: calc(100% - 32px);
  @include base-font();
  padding: 8px;
  margin: 16px;
  border: 2px solid $main-color;
  @media screen and (max-width: 768px) {
    display: block;
    max-width: calc(100% - 32px);
    overflow-x: scroll;
  }
  &-row {
    display: flex;
    justify-content: flex-start;

  }
  &-col {
    display: inline-block;
    min-width: 100px;
    margin: 0 auto;
    &[role="columnheader"] {
      font-weight: bold;
    }
    &.down {
      color: red;
    }
    &.up {
      color: lightgreen;
      font-weight: bold;
    }
  }
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
