h1
{
	text-align: center;
	color: rgb(225, 225, 225);
	font-family: Verdana, Geneva, sans-serif;
}
h2.prod
{
		text-align: center;
		color: rgb(255, 225, 225);
		font-family: Verdana, Geneva, sans-serif;
		font-size:8px;
		margin-top:-20px;
}
body
{
	 background-color: rgb(67,67,67);
}
p.intro
{
	position:relative;
	text-align: center;
	color: rgb(255, 225, 225);
	top: 10px;
	font-family: Verdana, Geneva, sans-serif;
}
#time
{
	position:relative;
	text-align: Center;
	color: rgb(255, 225, 225);
	top: 10px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
}
hr
{
	border-color: rgb(255, 225, 225);
	height: 10px;
	color:rgb(255, 90, 90);
	border-style: outset;
}                        
table
{
	width: 100%;
}
th
{
	color: rgb(225, 225, 225);
	font-family: Verdana, Geneva, sans-serif;
}
a:link
{
	color:rgb(172, 172, 172);
}
a:visited
{
	color:rgb(172, 172, 172);
}
a:hover
{
	color:rgb(140, 140, 140);
}