@import '../components.component.scss';
.sam-toggle {
  &-wrapper{
    cursor: pointer;
    display: inline-block;
    position: relative;
    min-height: 42px;
  }
  &--field{    
    cursor: pointer;
    position: absolute;
    position: absolute;
    opacity: 0;
    &:focus + .sam-toggle--label{
      &::before{
        border: 2px solid #027fe6;
      }
    }
    &:disabled + .sam-toggle--label{
      color: #aaa9a9;
      cursor: not-allowed;
      &::before{
        background: #aaa9a9;
      }
    }

    &[checked="true"] + .sam-toggle--label{
      &::before{ 
        background: #ffffff;
      }
      &::after{
        top: calc(50% - 16.5px);
        width: 34px;
        height: 34px;
        left: calc(80px - 36px - 4px);
        border: 0;
        background: #027fe6;
        box-shadow: 0px 0px 5px 2px #027fe65d;
      }
      & .sam-toggle--label__icon{
        top: calc(50% - 16.5px);
        width: 34px;
        height: 34px;
        left: calc(80px - 36px - 4px);
        &::before{
          left: 18px;
          top: 7px;
          border-right: 2px solid #ffffff;
          transform: rotate(30deg);
        }
        &::after{
          height: 10px;
          top: 17px;
          left: 10px;
          border-left: 2px solid #ffffff;
        }
      }
    }
  }
  &--label{
    @include base-font();
    cursor: pointer;
    display: inline-block;
    position: relative;
    left: 0px;
    margin: 0px;
    line-height: 2.5;
    padding-left: 88px;
    &::before{    
      content: '';
      display: block;
      position: absolute;
      width: 80px;
      height: 42px;
      top: calc(50% - 21px);
      left: 0px;
      margin-bottom: 0px;
      border: 1px solid #aaa9a9;
      background: #fcfafa;
      border-radius: 50px;
      transition: all ease-in-out 0.25s;
    }
    &::after{
      content: '';
      display: block;
      position: absolute;
      top: calc(50% - 11px);
      left: 4px;
      width: 24px;
      height: 24px;
      border-radius: 50px;
      border: 1px solid #aaa9a9;
      background: #fcfafa;
      box-shadow: 0px 0px 5px 2px #aaa9a9;
      transition: all ease-in-out 0.25s;
    }
    &__icon{
      display: block;
      position: absolute;
      top: calc(50% - 12px);
      left: 4px;
      width: 24px;
      height: 24px;
      transition: all ease-in-out 0.25s;
      &::before{
        content: '';
        display: block;
        position: absolute;
        height: 20px;
        top: calc(50% - 9px);
        left: calc(50% - 1px);
        border-right: 2px solid #aaa9a9;
        z-index: 1;
        transform: rotate(45deg);
        transition: all ease-in-out 0.25s;
        border-radius: 50px;
      }
      &::after{
        content: '';
        display: block;
        position: absolute;
        height: 20px;
        top: calc(50% - 9px);
        left: calc(50% - 1px);
        z-index: 1;
        border-left: 2px solid #aaa9a9;
        transform: rotate(-45deg);
        transition: all ease-in-out 0.25s;
        border-radius: 50px;
      }
    }
  }
}