h1#Title
{
	text-align: center;
	color: rgb(225, 225, 225);
	font-family: Verdana, Geneva, sans-serif;
}
h1{
	color:rgb(170, 170, 170);	
	text-align: center;
}
h2, h3{
	color: rgb(170, 170, 170);
	text-align: left;
	text-decoration:underline;
}
p
{
	color:rgb(255, 255, 255);
}

#p1
{
	position: relative;
	top: -15px;
	text-align:center;
}
#ContactInfo
{
	position: relative;
	top: -15px;
	text-align: center
}
.Education
{
	position: relative;
	top: -10px;
	
}
.Experience > p
{
	line-height:75%;
}
.moveUp
{
	position: relative;
	top: -30px;
}
body
{
	 background-color: rgb(67,67,67);
}

hr
{
	border-color: rgb(225, 225, 225);	
	height: 10px;
	color:rgb(225, 225, 225);
	border-style: outset;
} 
ul
{
	position: relative;
	top: -15px;
}
#LargeText
{
	font-size: 125%;	
	color: rgb(225, 225, 225);	
}
table
{
	position: relative;
	width: 100%;
	color: rgb(255, 255, 255);	
	top:-15px;
}
th
{
	color: rgb(225, 225, 225);	
	font-family: Verdana, Geneva, sans-serif;
}
li
{
color: rgb(255, 255, 255);		
text-align: left;
width: 50%
}

a:link
{
	color:rgb(172, 172, 172);
}
a:visited
{
	color:rgb(172, 172, 172);
}
a:hover
{
	color:rgb(140, 140, 140);