.sam-navbar-wrapper {
    display: block;
    margin-bottom: 16px;
    width: 100%;
    height: 72px;
  }
  @import "../../styles/variables.scss";
  @import "../../styles/mixins.scss";
  
  .sam-navbar {
    @include base-font();
    display: flex;
    max-width: 100%;
    padding: 4px 0px;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 99999;
    background: white;
    box-shadow: 1px 1px 10px 1px #8888886e;
    height: 72px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    &.scrolled {
      transform: translateY(-100%);
    }
  
    #home {
      display: table;
      height: 64px;
      > .sam-navbar__menu--item {
        width: 200px;
        display: flex;
        align-items: center;
      }
    }
    &__brand {
      display: inline-flex;
      flex: 1 1 auto;
      padding: 0px;
      margin: 0px 0px 0px 128px;
  
      @media screen and (max-width: 1024px) {
        margin-left: 16px;
      }
      &--img {
        display: inline-block;
        height: 64px;
        width: 42px;
      }
      &--link {
        display: inline-table;
        color: $text-color;
        &:hover {
          text-decoration: none;
          color: $black;
        }
        &-label {
          font-size: 1.5rem;
          padding: 0px 16px;
          display: table-cell;
          vertical-align: middle;
          min-width: 200px;
        }
      }
    }
    &__toggle-menu {
      display: none;
      @media screen and (max-width: 768px) {
        display: inline-block;
        position: fixed;
        right: 0px;
        height: 64px;
        padding: 0px 16px;
        margin: 0px 12px;
        background: none;
        border: none;
        &--chevron {
          display: block;
          width: 30px;
          height: 3px;
          background-color: $text-color;
          margin: 15px 0;
          transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          &::before {
            transition: all 0.3s ease;
            display: block;
            content: "";
            display: block;
            position: relative;
            top: -8px;
            width: 30px;
            height: 3px;
            background-color: $text-color;
          }
          &::after {
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            display: block;
            position: relative;
            top: 6px;
            content: "";
            width: 30px;
            height: 3px;
            background-color: $text-color;
          }
        }
      }
      &[toggle="true"] {
        & .sam-navbar__toggle-menu--chevron {
          height: 0px;
          &::before {
            transform: rotate(45deg);
            top: -2px;
          }
          &::after {
            transform: rotate(-45deg);
            top: -5px;
          }
        }
      }
    }
    &__menu {
      display: inline-flex;
      flex: 0 0 auto;
      padding: 0px;
      margin: 0px;
      position: relative;
      &--items {
        display: inline-block;
        padding: 0px;
        margin: 0px 128px 0px 0px;
        list-style: none;
        @media screen and (max-width: 1024px) {
          margin-right: 16px;
        }
      }
      &--item {
        display: inline-table;
        height: 100%;
        margin: 0px;
        width: 108px;
        text-align: center;
        @media screen and (max-width: 1024px) {
          width: 64px;
        }
      }
      @media screen and (max-width: 768px) {
        visibility: hidden;
        position: fixed;
        top: 64px;
        left: 0px;
        width: calc(100% - 2px);
        height: calc(100% - 64px);
        transform: translateY(100vh);
        background-color: $white;
        overflow: scroll;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        &.expanded {
          visibility: visible;
          transform: translateY(0);
        }
        &--items {
          width: 100%;
          margin: 0px;
        }
        &--item {
          display: block;
          width: 100%;
        }
        &--item.nav {
          height: auto;
        }
        .sam-navbar--link {
          display: block;
          text-align: left;
          font-size: 1.5rem;
          padding: 8px 16px;
          &.active {
            font-weight: bold;
          }
        }
      }
    }
    &--link {
      position: relative;
      text-decoration: none;
      @include base-font();
      padding: 0px 8px;
      display: table-cell;
      vertical-align: middle;
      &:hover {
        text-decoration: none;
        color: $black;
      }
      &.active:before {
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 2px;
        top: calc(100% + 2px);
        left: 0px;
        background-color: $main-color;
      }
    }
  }
  