.expanding{
  height: 160px;
}
.closing{
  height: 0px;
}
.navbar-toggler{
    & .nav-menu-chevron{
      display: block;
      width: 30px;
      height: 3px;
      background-color: black;
      margin: 15px 0;
      &::before{
        transition: all  0.3s ease;
        display: block;
        content: '';
        display: block;
        position: relative;
        top: -8px;
        width: 30px;
        height: 3px;
        background-color: black;
      }
      &::after{
        transition: all  0.3s ease;
        display: block;
        position: relative;
        top: 6px;
        content: '';
        width: 30px;
        height: 3px;
        background-color: black;
      }
    }
    &[toggle="true"]{
      & .nav-menu-chevron{
        height: 0px;
        &::before{
          transform: rotate(45deg);
          top: -2px;
        }
        &::after{
          transform: rotate(-45deg);
          top: -5px;
        }
      }
    }
}