.card{
  width: 90%;
  margin: 16px auto;
}
.list-group-item{
  background-color: transparent;
}
.small{
  font-size: 1rem;
}
.list-title{
  width: 80%;
  margin:0 auto;
  text-align: center;
  font-weight: 700;
}
.list-bold{
  font-weight: 700;
}
.nav-link{
  font-size: 1.25rem;
  &:hover{
    cursor: pointer;
  }
}
.card-header{
  &:first-child{
    position: relative;
    padding-left: 0px;
    left: -1px;
  }
  .card-header-tabs{
    margin-left: 0px;
  }
}
.nav-item{
  @media screen and ( max-width: 768px){
    display: block;
    width: 100%;
  }
}