<div class="container">
  <div class="card">
    <div class="card-header">
      <h1 class="display-5 text-center">{{registeredEmail ? 'Thank You' : 'Register'}}</h1>
    </div>
    <div [attr.loading]="submitted && registerForm.valid && errorMessage === ''" [hidden]="registeredEmail" class="card-body">
      <div aria-live="assertive" [attr.invalid]="submitted && (registerForm.invalid || errorMessage !== '')"
        class="invalid-alert">
        <span
          [attr.invalid]="submitted && registerForm.get('email').errors &&  registerForm.get('email').errors.required"
          class="invalid-message">
          - Please enter an email
        </span>
        <span [attr.invalid]="submitted && registerForm.get('email').errors && registerForm.get('email').errors.email"
          class="invalid-message">
          - Please enter a valid email
        </span>
        <span
          [attr.invalid]="submitted && registerForm.get('password').errors && registerForm.get('password').errors.required"
          class="invalid-message">
          - Please enter a password
        </span>
        <span
          [attr.invalid]="submitted && registerForm.get('password').errors && registerForm.get('password').errors.minlength && registerForm.get('password').errors.minlength.actualLength < registerForm.get('password').errors.minlength.requiredLength"
          class="invalid-message">
          - Please enter a valid password, min length required
          {{(registerForm.get('password').errors && registerForm.get('password').errors.minlength) ? registerForm.get('password').errors.minlength.requiredLength : ' '}}
        </span>
        <span [attr.invalid]="submitted && errorMessage !== ''" class="invalid-message">
          {{errorMessage}}
        </span>
      </div>
      <form [formGroup]="registerForm">
        <div class="row">
          <div class="col-sm-6 input-container">
            <span class="inputWrapper">
              <input id="firstName" class="formInput" type="name"
                aria-label="Optional: Please enter your first name to register"
                [formControl]="registerForm.get('firstName')" />
              <label [attr.hasVal]="registerForm.get('firstName').value !== ''" class="floating-label"
                for="firstName">First Name: Optional</label>
            </span>
          </div>
          <div class="col-sm-6 input-container">
            <span class="inputWrapper">
              <input id="lastName" class="formInput" type="name"
                aria-label="Optional: Please enter your last name to register"
                [formControl]="registerForm.get('lastName')" />
              <label [attr.hasVal]="registerForm.get('lastName').value !== ''" class="floating-label"
                for="lastName">Last Name: Optional</label>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 input-container">
            <span class="inputWrapper">
              <input id="email" class="formInput" type="email" aria-label="Please enter your email to register"
                [formControl]="registerForm.get('email')"
                [attr.invalid]="submitted && registerForm.get('email').invalid" />
              <label [attr.invalid]="submitted && registerForm.get('email').invalid"
                [attr.hasVal]="registerForm.get('email').value !== ''" class="floating-label" for="email">Email</label>
            </span>
          </div>
          <div class="col-sm-6 input-container">
            <span class="inputWrapper">
              <input id="password" class="formInput" type="password" aria-label="Please enter your password to register"
                [formControl]="registerForm.get('password')"
                [attr.invalid]="submitted && registerForm.get('password').invalid" />
              <label [attr.invalid]="submitted && registerForm.get('password').invalid"
                [attr.hasVal]="registerForm.get('password').value !== ''" class="floating-label"
                for="password">Password</label>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <button class="btn-submit" [disabled]="submitted && registerForm.invalid"
              (click)="submit();">Register</button>
          </div>
        </div>
      </form>
    </div>
    <div class="card-body" [hidden]="!registeredEmail">
      <h1 class="card-title text-center">Thank
        You{{registerForm.get('name') ? ' ' + registerForm.get('name').value + ',' : ','}}</h1>
      <p class="card-title">
        You should recieve a verification link in your email shortly.
      </p>
      <p class="card-title">
        Once your email is verified please login to view components.
      </p>
    </div>
  </div>
</div>