<h1 class="text-center">Projects</h1>
<div class="accordion">
  <div class="card">
    <div class="card-header" [attr.expanded]="expanded[0]" (click)="expand(0);">
      Android Applications <span class="chevron" [attr.expanded]="expanded[0]"></span>
    </div>
    <div class="collapse show">
      <div [attr.expanded]="expanded[0]" class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span class="bold"><img alt="PJ.png" style="width: 64px; margin-right: 8px" class="img-responsive" src="assets/PJ.png" />
              Portal Jumper</span>
            <p class="card-text">
              Free to play side scroller arcade style game
              <a class="card-link" target="_blank" href="https://play.google.com/store/apps/details?id=runner.android&hl=en">Portal
                Jumper</a> for the android platform.
            </p>
          </li>
          <li class="list-group-item">
            <span class="bold"><img alt="CC.png" style="width: 64px; margin-right: 8px" class="img-responsive" src="assets/CC.png" />
              Card Counter</span>
            <p style="margin-top:16px;" class="card-text">
              Free application to keep track of count in the game blackjack
              <a class="card-link" target="_blank" href="https://play.google.com/store/apps/details?id=com.studios0110.CardCounter.android&hl=en">Card
                Counter</a> for the android platform.
            </p>
          </li>
          <li class="list-group-item">
            <span class="bold"><img alt="CJ.png" style="width: 64px; margin-right: 8px" class="img-responsive" src="assets/CJ.png" />
              Cliff Jumper</span>
            <p style="margin-top:16px;" class="card-text">
              Free platformer game
              <a class="card-link" target="_blank" href="https://play.google.com/store/apps/details?id=com.studios0110.CliffJumper.android&hl=en">Cliff
                Jumper</a> for the android platform.
            </p>
          </li>
          <li class="list-group-item">
            <span class="bold"><img alt="DC.png" style="width: 64px; margin-right: 8px" class="img-responsive" src="assets/DC.png" />
              Doodle Cannon</span>
            <p style="margin-top:16px;" class="card-text">
              Free puzzle game
              <a class="card-link" target="_blank" href="https://play.google.com/store/apps/details?id=com.studios0110.ballin.android&hl=en">Doodle
                Cannon</a> for the android platform.
            </p>
          </li>
          <li class="list-group-item">
            <span class="bold"><img alt="S.png" style="width: 64px; margin-right: 8px" class="img-responsive" src="assets/S.png" />
              Slithery</span>
            <p style="margin-top:16px;" class="card-text">
              Free top down fluid snake game
              <a class="card-link" target="_blank" href="https://play.google.com/store/apps/details?id=com.studios.catAndMouse.android&hl=en">Slithery</a>
              for the android platform.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" [attr.expanded]="expanded[1]" (click)="expand(1);">
      Enterprise Applications <span class="chevron" [attr.expanded]="expanded[1]"></span>
    </div>
    <div [attr.expanded]="expanded[1]" class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-6 bold">
              TD Personal Lending Application
            </div>
            <div class="col-sm-6 text-right">
              August 2017 – July 2018
            </div>
          </div>
          <p class="card-text">
            Worked on an online application allowing a customer to apply for an unsecured loan with auto approval and
            auto
            funding. Agile
            development with Angular JS front end and Java back end. Technology stack: Angular, Java, Jboss, Node,
            Maven,
            Bower, SASS, Jenkins, Oracale, Splunk, Jira, confluence, BitBucket.
          </p>
        </li>
      </ul>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-6 bold">
              RBC Common Components Library
            </div>
          </div>
          <p class="card-text">
            Worked on a common component library that's online for other developers throughout RBC, accessible,
            functional and
            styled to meet RBC frameworks guidelines.
          </p>
        </li>
      </ul>
    </div>
  </div>


  <div class="card">
    <div class="card-header" [attr.expanded]="expanded[2]" (click)="expand(2);">
      Personal Applications <span class="chevron" [attr.expanded]="expanded[2]"></span>
    </div>
    <div [attr.expanded]="expanded[2]" class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-6 bold">
              Video Game Programming - PC
            </div>
            <div class="col-sm-6 text-right">
              August 2012 – Current
            </div>
          </div>
          <p class="card-text">
            Worked on and continue working on game applications for the PC as a personal hobby, including games written
            in Java, C++, C#, and in the unity game engine.
          </p>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-6 bold">
              Website Design &amp; Development
            </div>
            <div class="col-sm-6 text-right">
              August 2012 – Current
            </div>
          </div>
          <p class="card-text">
            I enjoy working on website design and development using Javascript and front end frameworks, and using Java
            and related framekworks for the backend.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>