@import '../../styles.scss';

.card{
  width: 95%;
  margin: 0px auto;
  // border-bottom: 1px solid $border-color !important;
}
.bold{
  font-weight: 700;
}
.card-header{
  &[expanded="true"]{
    background: transparent;
  }
  &:hover{
    cursor: pointer;
  }
}
.card-body{
  transition: all 0.5s ease;
  -webkit-transition: all  0.3s ease;
  -moz-transition: all  0.3s ease;
  -o-transition: all  0.3s ease;
  visibility: collapse;
  max-height: 0px;
  padding: 0;
  &[expanded="true"]{
    max-height: 500px;
    overflow-y: scroll;
    visibility: visible;
    border-top: 1px solid $border-color;
  }
}
.chevron{
  transition: all 0.5s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-top: 3px solid $border-color;
  border-right: 3px solid $border-color;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: relative;
  top: 6px;
  right: -9px;
  &[expanded="false"]{
    transform: rotate(135deg);
    top: -1px;
  }
}