@import '../components.component.scss';

.sam-date{
  &::-webkit-datetime-edit,
  &::-webkit-datetime-edit-fields-wrapper,
  &::-webkit-datetime-edit-text,
  &::-webkit-datetime-edit-month-field,
  &::-webkit-datetime-edit-day-field,
  &::-webkit-datetime-edit-year-field,
  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator {
    display: none;
  }
}

input.sam-date-input {
  width: calc(100% - 50px);
  height: 100%;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.sam-date-wrapper {
  @include base-font();
  width: 280px;
  height: 48px;
  display: inline-block;
  border: 1px solid #7a7a7a;
  border-radius: 10px;
}

.calendar-icon {
  display: inline-block;
  box-sizing: content-box;
  position: relative;
  width: 48px;
  height: 46px;
  left: 2px;
  top: -2px;
  cursor: pointer;
  border-left: 0px;
  cursor: pointer;    
  z-index: 1;

  &:hover {
    background-color: #e6e3e3;
    border-radius: 10px;
  }
}
.sam-calendar {
  position: relative;
  visibility: hidden;
  width: 280px;
  height: 0px;
  border: 1px solid #7a7a7a;
  border-top: 0px;
  padding-top: 4px;
  top: -11px;
  * {
    visibility: hidden;
  }
  transition: all ease-in-out 0.25s;
  &--header {
    width: 100%;
    height: 64px;
    background: #fcfafa;
  }
  &--header__date {
    @include base-font();
    text-align: center;
    line-height: 2;
    height: 32px;
    cursor: pointer;
    color: #027fe6;
  }
}

.sam-calendar[open="true"] {
  visibility: visible;
  display: block;
  height: 280px;
  * {
    visibility: visible;
  }
}