<span class="sam-date-wrapper">
  <input type="string" class="sam-date-input" [value]="date | date : 'fullDate'" [value]="selectingDate | date : 'fullDate'"
    (change)="onChange();" (click)="clicked();" />
  <img class="calendar-icon" src="assets/calendar.png" tabindex="0" role="button" (keydown.enter)="clicked();" (keydown.space)="clicked();" (click)="clicked();" />
</span>
<div class="sam-calendar" [attr.open]="open">
  <div class="sam-calendar--header">
    <button class="sam-calendar--header__left" tabindex="0" (click)="selectLeft();">
      &lt;
    </button>
    <button class="sam-calendar--header__date">
      {{ date | date: 'MMM' }}
    </button>
    <button class="sam-calendar--header__right" tabindex="0" (click)="selectRight();">
        &gt;
    </button>
  </div>
</div>