<div class="playersTurn">
  {{playersTurn ? 'Player O\'s turn' : 'Player X\'s Turn'}}
  <br/>
  {{playerWon ? '' +playersWinMessage : ''}}
</div>
<div class="board">
  <button 
    *ngFor="let b of board; let i = index;" 
    [id]="'square-' + i" 
    class="board--button"
    (click)="pressButton(i)"
    [disabled]="playerWon || b == 0 ? true : b == 1 ? true : false">
    <span class="board--button__label" [attr.player2]="b == 0 ? true : false">
      {{(b == 0 ? 'O' : b == 1 ? 'X' : '')}}
    </span>
  </button>
</div>
<button sam-cta class="playersTurn" (click)="leaveGame()">Leave</button>