<h1 class="display-4 text-center" >Forum</h1>
<div [hidden]="loggedIn" class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <p class="alert-danger" >Please login/create an account to view forum</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 text-center">
      <button sam-cta (click)="goTo('login');">Login</button>
    </div>
    <div class="col-sm-6 text-center">
      <button sam-cta (click)="goTo('register');">Register</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<div *ngIf="loggedIn" class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <button sam-cta (click)="auth.logout();goTo('home');">Logout</button>
    </div>
  </div>
</div>