<h1 class="display-4 text-center">Forum</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <button sam-cta (click)="reloadMessages();">
        <img src="assets/reload.png" alt="reload" class="reload"/>
      </button>
    </div>
  </div>
</div>
<div class="container messageWrapper" *ngFor="let message of messages; let i = index;">
  <div class="row">
    <div class="col-sm-6 date">
      {{message.date | date: 'MMM d, yyyy'}} - {{message.date | date: 'shortTime'}}
    </div>
    <div class="col-sm-6 email">
      {{message.email}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 message">
      {{message.message}}
    </div>
  </div>
</div>

<div [hidden]="loggedIn" class="container pt-5">
  <div class="row">
    <div class="col-sm-12 text-center">
      <p class="alert-danger">Please login/create an account to view forum</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 text-center">
      <button sam-cta (click)="goTo('login');">Login</button>
    </div>
    <div class="col-sm-6 text-center">
      <button sam-cta (click)="goTo('register');">Register</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>


<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center p-5">
      <button sam-cta (click)="logout(); goTo('home');">Logout</button>
    </div>
  </div>
</div>