@import '../components.component.scss';

.sam-input-wrapper{
  display: block;
  position: relative;
  margin: 24px;
  margin-left: 0px;
  width: 100%;
  @include pseudo-border;
  &:focus-within{
    outline: none;
    &:before{
      left:0;
      width:100%;
      border-radius: .25rem;
    }
    &:after{
      top: 0px;
      height:100%;
      border-radius: .25rem;
    }
  }
  &--field{
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    @include base-font;
    background-color: #fff;
    border: 0;
    border-bottom: 2px solid #027fe65d;
    transition: all ease-in-out 0.5s;
    color: #5e6770;
    &:focus{
      -webkit-appearance: none;
      outline: none;
    }
    &[invalid="true"]{
      border: 2px solid red;
    }
    &:focus + .sam-input-wrapper--label{
      top: -28px;
      left: -15px;
      transform: scale(0.75);
      color: #027fe6;
      &[invalid="true"]{
       color: red;
      }
    }
    &:disabled{
      background: #f1f1f1;
      cursor: not-allowed;
      border-bottom: 2px solid #7a7a7a;
      &+ .sam-input-wrapper--label{
        cursor: not-allowed;
        color: black;
      }
    }
  }
  &--label{
    position: absolute;
    top: 0px;
    left: 0px;
    padding: .375rem .75rem;
    @include base-font();
    transition: all ease-in-out 0.25s;
    &[invalid="true"]{
     color: red;
    }
  }
  
  &--label[hasVal="true"]{
    top: -28px;
    left: -15px;
    transform: scale(0.75);
    color: #5e6770;
  }
}
textarea{
  min-height: calc(2.25rem + 2px);
}