@mixin base-font{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
}
@mixin pseudo-border{
  &:before{    
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    bottom: 0px;
    left: 50%;
    border-bottom: 2px solid #027fe6;
    border-top: 2px solid #027fe6;
    border-radius: 0;
    transition: all ease-in-out 0.5s;
  }
  &:after{    
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    top: 50%;
    left: 0px;
    border-left: 2px solid #027fe6;
    border-right: 2px solid #027fe6;
    border-radius: 0;
    transition: all ease-in-out 0.5s;
  }
}
.container{
  padding-top: 16px;
}
.floating-label{
  position: absolute;
  top: 0px;
  left: 0px;
  padding: .375rem .75rem;
  @include base-font;
  transition: all ease-in-out 0.25s;
  &[invalid="true"]{
   color: red;
  }
}

.input-container{
  padding: 18px;
}

.formInput{
  display: inline-block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  @include base-font;
  background-color: #fff;
  border: 0;
  border-bottom: 2px solid #027fe65d;
  transition: all ease-in-out 0.5s;
  &:focus{
    -webkit-appearance: none;
    outline: none;
  }
  &[invalid="true"]{
    border: 2px solid red;
  }
}

.formInput:focus + .floating-label{
  top: -28px;
  left: -15px;
  transform: scale(0.75);
  color: #027fe6;
  &[invalid="true"]{
   color: red;
  }
}
.floating-label[hasVal="true"]{
  top: -28px;
  left: -15px;
  transform: scale(0.75);
  color: #495057;
}

.inputWrapper{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  @include pseudo-border;
  &:focus-within{
    outline: none;
    &:before{
      left:0;
      width:100%;
      border-radius: .25rem;
    }
    &:after{
      top: 0px;
      height:100%;
      border-radius: .25rem;
    }
  }
}

.invalid-message{
  display: none;
  &[invalid="true"]{
    display: block;
  }
}
.invalid-alert{
  display: none;
  &[invalid="true"]{
    display: block;
    border: 1px solid red;
    padding: 8px 16px;
    margin-bottom: 32px;
    @include base-font;
    color: red;
  }
}
.col-sm-6{
  padding: 8px;
}