<div class="container">
    <div class="card">
      <div class="card-header">
        <h1 class="display-5 text-center">Login</h1>
      </div>
      <div class="card-body">
        <div aria-live="assertive" [attr.invalid]="submitted && (loginForm.invalid || errorMessage !=='')" class="invalid-alert">
          <span [attr.invalid]="submitted && loginForm.get('email').errors &&  loginForm.get('email').errors.required" class="invalid-message">
              - Please enter an email
          </span>
          <span [attr.invalid]="submitted && loginForm.get('email').errors && loginForm.get('email').errors.email" class="invalid-message">
              - Please enter a valid email
          </span>
          <span [attr.invalid]="submitted && loginForm.get('password').errors && loginForm.get('password').errors.required" class="invalid-message">
              - Please enter a password
          </span>
          <span [attr.invalid]="errorMessage !== ''" class="invalid-message">
              {{errorMessage}} <span *ngIf="errorMessage === 'User not verified yet'"><a tabindex="0" style="cursor: pointer" (click)="resendVerication();" >Send verification email again</a></span>
          </span>
        </div>
        <form [formGroup]="loginForm">
          <div class="row">
            <div class="col-sm-6 input-container">
              <span class="inputWrapper">
                <input 
                id="email"
                class="formInput"  
                type="email" 
                aria-label="Please enter your email to register" 
                [formControl]="loginForm.get('email')"
                [attr.invalid]="submitted && loginForm.get('email').invalid"/>
                <label [attr.invalid]="submitted && loginForm.get('email').invalid" [attr.hasVal]="loginForm.get('email').value !== ''"class="floating-label" for="email">Email</label>
              </span>
            </div>
            <div class="col-sm-6 input-container">
              <span class="inputWrapper">
                <input 
                id="password" 
                class="formInput" 
                type="password"
                aria-label="Please enter your password to register"  
                [formControl]="loginForm.get('password')"
                [attr.invalid]="submitted && loginForm.get('password').invalid"/>
                <label [attr.invalid]="submitted && loginForm.get('password').invalid" [attr.hasVal]="loginForm.get('password').value !== ''"class="floating-label" for="password">Password</label>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
                <button class="btn-submit" [disabled]="submitted && loginForm.invalid" (click)="submit();">Login</button>
            </div>
            <div class="col-sm-6">
                <button class="btn-submit" [disabled]="submitted && loginForm.invalid" (click)="goTo('register');">Register</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>