<button [id]="tooltipId" class="sam-tooltip--btn" (blur)="closeTooltip();" (click)="toggleTooltip();" [attr.aria-label]="tooltipAriaLabel">
    <span *ngIf="contentOpen" class="sam-tooltip--chevron"></span>
  </button>
<label [for]="tooltipId" class="sam-tooltip--label" [innerHtml]="tooltipLabel"></label>
<div [hidden]="!contentOpen" role="tooltip" aria-live="assertive" class="sam-tooltip--container">
  <span class="sr-only">Tooltip popup</span>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  dolore
  <button aria-hidden="true" class="sam-tooltip--container__close" (click)="toggleTooltip();"></button>
</div>