<h1 class="sam-title">Sample Code Snippets</h1>
<div class="card card__show card__show--come-in"  #card8>
  <h4 style="margin: 16px auto; width: 95%;">Sorting</h4>
  <div class="card-header">
    Bubble Sort
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        Sorting algorithm - O(n^2)
      </div>
      <div class="col-sm-6 text-right">
        <a target="_blank" href="assets/src/BubbleSort.java">BubbleSort.java</a>
      </div>
    </div>
  </div>
</div>
<div class="card card__show card__show--come-in" #card9>
  <div class="card-header">
    Insertion Sort
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        Sorting algorithm - O(n^2)
      </div>
      <div class="col-sm-6 text-right">
        <a target="_blank" href="assets/src/InsertionSort.java">InsertionSort.java</a>
      </div>
    </div>
  </div>
</div>
<div class="card" #card10>
  <div class="card-header">
    Selection Sort
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        Sorting algorithm - O(n^2)
      </div>
      <div class="col-sm-6 text-right">
        <a target="_blank" href="assets/src/SelectionSort.java">SelectionSort.java</a>
      </div>
    </div>
  </div>
</div>
<div class="card" #card11>
  <div class="card-header">
    Merge Sort
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        Sorting algorithm - O(n*log(n))
      </div>
      <div class="col-sm-6 text-right">
        <a target="_blank" href="assets/src/MergeSort.java">MergeSort.java</a>
      </div>
    </div>
  </div>
</div>
<div class="card" #card12>
  <div class="card-header">
    QuickSort Sort
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        Sorting algorithm - O(n*log(n))
      </div>
      <div class="col-sm-6 text-right">
        <a target="_blank" href="assets/src/Quicksort.java">QuickSort.java</a>
      </div>
    </div>
  </div>
</div>
<div class="card" #card13>
  <h4 style="margin: 16px auto; width: 95%;">Data Structures</h4>
  <div class="card-header">
    ArrayList
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        A dynamically sizable array
      </div>
      <div class="col-sm-6 text-right">
        <a target="_blank" href="assets/src/MyArrayList.java">ArrayList.java</a>
      </div>
    </div>
  </div>
</div>
<div class="card" #card14>
  <div class="card-header">
    LinkedList
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        A linked list of nodes with references to each node from the previous
      </div>
      <div class="col-sm-6 text-right">
        <a target="_blank" href="assets/src/MyLinkedList.java">LinkedList.java</a>
      </div>
    </div>
  </div>
</div>
<div class="card" #card15>
  <div class="card-header">
    Stack
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        A 'FILO' (first in last out) list, like a stack of paper
      </div>
      <div class="col-sm-6 text-right">
        <a target="_blank" href="assets/src/MyStack.java">Stack.java</a>
      </div>
    </div>
  </div>
</div>
<div class="card" #card16>
  <div class="card-header">
    Queue
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        A 'FIFO' (first in first out) list, like a line of people
      </div>
      <div class="col-sm-6 text-right">
        <a target="_blank" href="assets/src/MyQueue.java">Queue.java</a>
      </div>
    </div>
  </div>
</div>
<div class="card" #card17>
  <div class="card-header">
    Priority Queue
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        A Queue sorted based on given priorities of each node, like in an emergency triage center at a hosiptal.
      </div>
      <div class="col-sm-6 text-right">
        <a target="_blank" href="assets/src/MyPQ.java">PriorityQueue.java</a>
      </div>
    </div>
  </div>
</div>
<div class="card" #card18>
  <div class="card-header">
    Hash Map
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        A dynamically sizable and quick lookup array based on hashed indecies of each element.
      </div>
      <div class="col-sm-6 text-right">
        <a target="_blank" href="assets/src/MyHashMap.java">HashMap.java</a>
      </div>
    </div>
  </div>
</div>
<div class="card" #card19>
  <div class="card-header">
    Graph
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        A datastructure with Lists of vertices, along with lists of edges. Each vertex can have connections to other verticies through neighbouring edges.
      </div>
      <div class="col-sm-6 text-right">
        <a target="_blank" href="assets/src/MyGraph.java">Graph.java</a>
      </div>
    </div>
  </div>
</div>
<div class="card" #card20>
  <h4 style="margin: 16px auto; width: 95%;">Other</h4>
  <div class="card-header">
    Simple Encryption
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        A simple encryption written in C for text files.
      </div>
      <div class="col-sm-6 text-right">
        <a target="_blank" href="assets/src/Encryption.c">Encryption.c</a>
      </div>
    </div>
  </div>
</div>
<div class="card" #card21>
  <div class="card-header">
    Factorial Recursion and memoization 
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        A simple example of factorial recursion and memoization
      </div>
      <div class="col-sm-6 text-right">
        <a target="_blank" href="assets/src/FactorialExample/index.html">FactorialExample.index</a>
      </div>
    </div>
  </div>
</div>
<div class="card" #card1>
  <h4 style="margin: 16px auto; width: 95%;">Games</h4>
  <div class="card-header">
    Pong
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <a target="_blank" href="assets/src/Pong.txt">Pong.txt</a>
      </div>
      <div class="col-sm-6 text-right">
        <a target="_blank" href="assets/src/Pong.jar" download>Pong.jar</a>
      </div>
    </div>
  </div>
</div>
<div class="card" #card2>
  <div class="card-header">
    Air Hockey
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <a target="_blank" href="assets/src/AirHockey.txt">AirHockey.txt</a>
      </div>
      <div class="col-sm-6 text-right">
        <a target="_blank" href="assets/src/Airhockey.jar" download>AirHockey.jar</a>
      </div>
    </div>
  </div>
</div>
<div class="card" #card3>
  <div class="card-header">
    Snake
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <a target="_blank" href="assets/src/SnakeHead.java">Snake.java</a>
      </div>
      <div class="col-sm-6 text-right">
        <a target="_blank" href="assets/src/Snake.jar" download>Snake.jar</a>
      </div>
    </div>
  </div>
</div>
<div class="card" #card4>
  <div class="card-header">
    Robocalypse
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        Top Down shooter/Survival game
      </div>
      <div class="col-sm-6 text-right">
        <a target="_blank" href="assets/src/Robocalypse.jar" download>Robocalypse.jar</a>
      </div>
    </div>
  </div>
</div>
<div class="card" #card5>
  <div class="card-header">
    Snowball Fight
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        Top Down multiplayer snowball fight game
      </div>
      <div class="col-sm-6 text-right">
        <a target="_blank" href="assets/src/SnowBallFight.zip" download>SnowBallFight.zip</a>
      </div>
    </div>
  </div>
</div>
<div class="card" #card6>
  <div class="card-header">
    Ghost Survival
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        Top Down shooter/horror game
      </div>
      <div class="col-sm-6 text-right">
        <a target="_blank" href="assets/src/Ghosts.zip" download>Ghosts.zip</a>
      </div>
    </div>
  </div>
</div>
<div class="card" #card7>
  <div class="card-header">
    Circle Collider
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        Simple algorithm to check for collision between two circles : <a target="_blank" href="assets/src/Window.java">Collider.java</a>
      </div>
      <div class="col-sm-6 text-right">
        <a target="_blank" href="assets/src/CircleCollider.jar" download>Collider.Jar</a>
      </div>
    </div>
  </div>
</div>