.expanding{
  height: 240px; //Change for updating height in nav menu
}
.closing{
  height: 0px;
}
.navbar-toggler{
  border: none;
    & .nav-menu-chevron{
      display: block;
      width: 30px;
      height: 3px;
      background-color: black;
      margin: 15px 0;
      transition: all  0.3s ease;
      -webkit-transition: all  0.3s ease;
      -moz-transition: all  0.3s ease;
      -o-transition: all  0.3s ease;
      &::before{
        transition: all  0.3s ease;
        display: block;
        content: '';
        display: block;
        position: relative;
        top: -8px;
        width: 30px;
        height: 3px;
        background-color: black;
      }
      &::after{
        transition: all  0.3s ease;
        -webkit-transition: all  0.3s ease;
        -moz-transition: all  0.3s ease;
        -o-transition: all  0.3s ease;
        display: block;
        position: relative;
        top: 6px;
        content: '';
        width: 30px;
        height: 3px;
        background-color: black;
      }
    }
    &[toggle="true"]{
      & .nav-menu-chevron{
        height: 0px;
        &::before{
          transform: rotate(45deg);
          top: -2px;
        }
        &::after{
          transform: rotate(-45deg);
          top: -5px;
        }
      }
    }
}
.profile{
  display: inline-block;
  height: 64px;
  max-width: 100%;
}